# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Environment
.env
.venv
env/
venv/
ENV/

# Data
*.vcf
*.vcf.gz
*.pheno.txt
*.pheno.txt.gz
/preprocess_data/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db 

# Evaluation results
output/evaluate*/

# 忽略资源、输出和数据目录
/res/
/output/
/data/ 